.Copyright {
    background-color: #111111;
}

.copyright-wrapper {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(85, 85, 85);
    line-height: 1.538;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright-left {
    padding: 20px 10px;
}

.white-copy {
    color: #959595;
}

.yellow-copy {
    color: #c7b299;
}

.copyright-right {
    padding: 20px 10px;
}

@media (min-width:992px) {
    .copyright-wrapper {
        font-size: 14px;
    }
}