.footer {
    background-color: #191919;
}

.date-footer {
    font-size: 12px;
    color: rgb(54, 54, 54);
    line-height: 1.667;
}

.line-footer-mode {
    display: block;
    width: 100%;
    background-color: #252525;
    height: 2px;
    margin: 15px 0;
}

.link-active {
    color: #959595;
}

.blue {
    color: #00bff3;
}

.footer-content {
    text-align: left;
    padding: 0 10px;
}

.logo-pict {
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding-top: 15px;
}

.logo-pict-first {
    font-size: 12px;
    color: rgb(85, 85, 85);
    line-height: 1.714;
    margin: 10px 0;
}

.logo-read-more {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(209, 209, 209);
    line-height: 1.429;
    margin-bottom: 20px;
}

.recent-post h2 {
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding: 20px 0;
}

.logo-pict-first-activ {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(199, 178, 153);
    line-height: 1.429;
}

.date-footer-activ {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.667;
}

.our-twitter h2 {
    font-size: 22px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 20px;
}

.widget h2 {
    font-size: 22px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    padding: 20px;
}

.widget-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.widget-image div {
    width: calc(50% - 10px);
    background-size: cover;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px 5px;
}

@media (min-width:568px) {
    .footer-content>div {
        width: calc(50% - 20px);
        padding: 0 10px;
    }
    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
    }
}

@media (min-width: 992px) {
    .footer-content>div {
        width: calc(25% - 20px);
    }
    .footer-content {
        align-items: flex-start;
    }
}