html,
body {
    width: 100%;
}

body { 
    color: #6b6b6b;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    overflow: auto;
}
* {
   box-sizing: border-box;
}
a {
    color: #6b6b6b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}