
.service {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
    align-items: center;
}

.services img {
    margin-bottom: 30px;
    height: 50px;
}

.services h3 {
    margin-bottom: 20px;
}


.first-word {
  font-size: 22px;
  font-family: "Raleway";
  color: rgb(85, 85, 85);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.service p {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(140, 140, 140);
  line-height: 1.714;
  text-align: center;
  margin-bottom: 20px;
}

.service span {
  background-color: rgb(241, 238, 233);
  width: 70px;
  height: 3px;
}
.active .first-word
 {
     color: rgb(199, 178, 153);
}
.active span {
     background-color: rgb(199, 178, 153);
}

@media (min-width: 568px) {
    .service {
        margin: 40px 10px;
        width: calc(50% - 20px);
    }
    .services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        align-content: center;
    }
}
@media (min-width:992px) {
    .service {
        width: calc(25% - 20px);
    }
}
@media (min-width:1200px) {
    .services {
        flex-wrap: nowrap;
    }
    .service {
        width: 100%;
    }
}